<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			body { font-family: Arial, sans-serif; margin: 40px; background-color: #f9f9f9; color: #333; } h1 { font-size: 24px; margin-bottom: 20px; color:
			#2c3e50; border-bottom: 2px solid black; }
            h2 { font-size: 20px; margin-top: 30px; margin-bottom: 10px; color: #34495e; }
			h2 { font-size: 20px; margin-top: 30px; margin-bottom: 10px; color: #470a07; }
            ul { list-style-type:
			none; padding-left: 0; } li { padding: 8px 0; }
            p { background-color: #fff; padding: 20px; border: 5px solid #7a2307 border-radius: 5px; }
            p6{ font-size: 20px; margin-top: 30px; margin-bottom: 10px; color: #7a2307; }

        </style>
	</head>
	<body>
		<h1>{{to}}</h1>
		<h2>Bonjour</h2>
        <img src="https://res.cloudinary.com/dt2vufdzn/image/upload/v1627895269/1b4b8624da3f4800d2bf38dfb88f0138.jpg" alt="Company Logo" style="width: auto; height: auto; margin-bottom: 20px;">
		<ul>
            <li><strong> À qui cela peut concerner: </strong> {{ownerEmail}}</li>
			<li><strong>Adresse concerné: </strong> {{address}}</li>
			<li><strong>Date de création de la déposition: </strong> {{takenAt}}</li>
            <li><strong>Envoyé par:  </strong>  <span>NoPestsAllowed</span></li>
		</ul>
		<h3>Description du problème</h3>
		<p>{{description}}</p>
        <div>
            <p>
                Vous disposez de 5 jours avant que la déposition ne soit rendu visible sur notre site.
            </p>
            <div>
                <a href="{{url}}" target="_blank">Résoudre la déposition</a>
            </div>
        </div>
	</body>
</html>
