<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			body { font-family: Arial, sans-serif; margin: 40px; background-color: #f9f9f9; color: #333; } h1 { font-size: 24px; margin-bottom: 20px; color:
			#2c3e50; border-bottom: 2px solid black; } 
            h2 { font-size: 20px; margin-top: 30px; margin-bottom: 10px; color: #34495e; }
            ul { list-style-type:
			none; padding-left: 0; } li { padding: 8px 0; } 
            p { background-color: #fff; padding: 20px; border: 5px solid #7a2307 border-radius: 5px; }
            p6{ font-size: 20px; margin-top: 30px; margin-bottom: 10px; color: #7a2307; }
		
        </style>
	</head>
	<body>
		<h1>{{to}}</h1>
		<h2>{{title}}</h2>
		<ul>
            <li><strong> First Name:</strong> {{firstname}}</li>
            <li><strong> Last Name:</strong> {{lastname}}</li>
            <li><strong> Email address:</strong> {{email}}</li>
            <li><strong> Message title:</strong> {{title}}</li>
		</ul>
		<h2>Message</h2>
		<p>{{message}}</p>
	</body>
</html>
